<div class="card">
  <img src="{{src}}" alt="{{alt}}" />
  <div class="cardTitle">
    <h3>{{titulo}}</h3>
  </div>
  <div class="cardDsc">
    <p>{{precio}}</p><br />
    <p>{{descripcion}}</p>
  </div>
</div>